.classification {
  margin-top: 120px;
}

.classification-box {
  border-radius: 12px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
  background: rgb(250, 250, 250);
  padding-block: 38px;
  font-weight: 600;
  letter-spacing: 0;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .classification {
    margin-top: 100px;
  }

  .classification-box {
    padding-block: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .classification {
    margin-top: 100px;
  }

  .classification-box {
    padding-block: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .classification {
    margin-top: 80px;
  }

  .classification-box {
    padding-block: 25px;
  }
}
@media (max-width: 575.98px) {
  .classification {
    margin-top: 60px;
  }

  .classification-box {
    padding-block: 20px;
  }
}
