@import "./reset.css";
@import "./common.css";
@import "./header.css";
@import "./hero.css";
@import "./classification.css";
@import "./exams.css";
@import "./footer.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat" !important;
  letter-spacing: 0 !important;
}

a,
li {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
